h1{
    text-align: center;
  background-color: aqua;  color: blueviolet;
  border-color: brown;
  border-radius: 10px;

}
p{
    color: rgb(240, 91, 11);
}
button{
    background-color: aqua;
    color: rgb(249, 249, 249);
}